svg{
    height: 20px;
}
ul li a {
   height: 60px; 
   border-radius: 20px;
 
 color: white;
 width: 100%;
 margin-top: -50px;
}

ul li {
    margin-top: -10px;
    height: 90px;
}



.w-full{
  
  margin-left: 20px;
  width: 100%;
  margin-top: 60px;
height: 100px;
background: linear-gradient(rgb(8, 46, 183), rgb(26, 26, 26));


}

h5{
    color: white;
    font-size: 25px;
}

.container{
    background: linear-gradient(rgb(8, 46, 183), rgb(26, 26, 26));
    height: 950px;

}
h1{
    font-size: 30px;
    color: white;
    padding-top: 50px;
    margin-left: 20px;
}