<div class="flex items-center justify-center min-h-screen bg-gif p-4">
  <div class="max-w-md w-full p-8 bg-opacity-50 backdrop-blur-md border border-gray-300 shadow-lg rounded-lg">
     <!-- Back Icon -->
    <button [routerLink]="['/signin']" class="absolute top-4 left-4 flex items-center text-white hover:text-gray-300 transition duration-200">
      <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
      </svg>  
    </button>

    <h2 class="text-3xl font-bold mt-2 mb-6 text-center text-white">Send Password Reset Email</h2>
    <form (ngSubmit)="sendResetEmail()" class="bg-transparent">
      <div class="mb-6">
        <label for="email" class="block text-white text-lg font-medium mb-3">Email Address:</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          class="w-full px-4 py-3 bg-transparent border border-gray-400 rounded-lg text-white placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out"
          placeholder="Enter your email"
        >
      </div>
      <button
        type="submit"
        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Send Reset Email
      </button>
      <br>
    </form>
    <p class="mt-6 text-center text-white text-sm">{{ message }}</p>
  </div>
</div>
  <!-- <button
       [routerLink]="['/signin']"
        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
       Back to Sign in
      </button> -->