<div class="container mx-auto p-4" style="    background: linear-gradient(rgb(8, 46, 183), rgb(26, 26, 26));">
  <h2 class="text-2xl font-bold mb-4">Add User to Plan</h2>

  <div class="bg-white shadow-md rounded-lg p-6 mb-4" style="background: linear-gradient(rgb(8, 46, 183), rgb(26, 26, 26));">
    <h3 class="text-xl font-semibold mb-2" style="color:white;">family plan</h3>
  </div>
  <div class="mt-4">

  
    <div style="width: 150px;margin-left: 230px;margin-top: 40px;" class="mt-4">
    <button 
    routerLink="/user-subscription"
      (click)="addUserToFamilyPlan()" 
      class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
      Subscribe
    </button>
  </div>

  <div style="width: 150px;margin-top: -85px;margin-left: 10px;">
  <button 
style="width: 100px;"
  class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
Back
</button>
</div>





  

<div *ngIf="successMessage" class="bg-green-100 text-green-700 p-4 rounded mb-4">
    <p>{{ successMessage }}</p>
  </div>

  <div *ngIf="errorMessage" class="bg-red-100 text-red-700 p-4 rounded">
    <p>{{ errorMessage }}</p>
  </div>
</div>




  