<div class="container fixed w-full h-full">
   <br/>
   <br/>
   <br/>
   <br/>
   <div>
      <img src="/assets/LogoSolid-removebg-preview.png" alt="Logo" class="w-48 h-48 object-contain mx-auto mb-4">
    </div>
    <div class="centered">
       <h1>DISCOVER GAUTENG YOUR WAY!</h1>
       <div class="bottom-center">
          <button routerLink="/explore">
             EXPLORE
          </button>
          <button routerLink="/signin">
             SIGN IN
          </button>
    </div>
    </div>
  </div> 