
button{
    background-color: rgb(32, 7, 111);
  margin-top: 100px;
    margin-left: 100px;
    height: 40px;
    width: 200px;
    color:white;
    border-radius: 5px;
}
ul{
    margin-top: 30px;
    margin-left: 5px;
}
.select{
    margin-top: 30px;
}
.name{
    margin-top: 30px;
   
}
.container{
    background: linear-gradient(rgb(8, 46, 183), rgb(26, 26, 26));
    color: white;
    height: 600px;
}