button{
    width: 200px;
    margin-top: 60px;
  background-color: white;
}
.w-full {
    background: linear-gradient(rgb(8, 46, 183), rgb(26, 26, 26));
    color: white;
    border-radius: 20px;
   margin-left: 20px;
   border: solid 0px;

}
h1{
    color: white;
    margin-top: 40px;
    font-size: 30px;
}
h5{
    color: white;
    font-size: 25px;
}
.flex {
    color: white;
}
p{
    margin-top: 35px;
}